// Dynamically render navbar based on screen size
@media only screen and (max-width: 980px) {
    #nav-expanded {
        display: none !important;
    }
}

@media only screen and (min-width: 980px) {
    #nav-compact {
        display: none !important;
    }
}

// Resize logo
#header {
    .logo {
        height: 98%;
        vertical-align: middle;
        padding-top: 3px;
    }
    .logo2 {
        height: 75%;
        vertical-align: middle;
        padding-top: 28px;
    }
}

#ucb-logo {
    float: left;
    z-index:3;
    position:relative;
    height:60px;
    vertical-align: bottom;
}

