// Dynamically render navbar based on screen size
@media only screen and (max-width: 980px) {
    #nav-expanded {
        display: none !important;
    }
}

@media only screen and (min-width: 980px) {
    #nav-compact {
        display: none !important;
    }
}

// Resize logo
#header {
    .logo {
        height: 98%;
        vertical-align: middle;
        padding-top: 3px;
    }
}

#ucb-logo {
    float: left;
    z-index:3;
    position:relative;
    height:42px;
    vertical-align: bottom;
}

#platform-links {
    float:left;
    vertical-align:middle;
}

#ucb-link {
    float:right;
    position: relative;
    vertical-align: middle;
}

#footer-logo {
    float:right;
    height: 42px;
}

#bottom-div {
    float: left;
    position:absolute;
    padding-top:78px;
    margin:0px auto;
    display: table;
}