<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %} 
    
    
<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
            <!-- Title -->
            <h2>{{ page.title }}</h2>
		</header>

		{% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}

        <!-- Author(s) -->
        <h4>Author(s): {{ page.author }}</h4>

        <!-- Abstract -->
        <p>
        <b>Abstract</b><br>
        {{ page.abstract }}
        </p>

        <!-- Download Links -->
        {% if page.paperurl.size > 0 %}
        <b>Electronic Downloads</b><br>
        <ul>
        {% for l in page.paperurl %}
            <li><a href="{{ l }}" target="_blank">{{ l }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

        <hr>
        <h3>Citation Formats</h3>
        <ul>
            <li>
                APA <br>
                <pre>
                <code>
{{ page.author }}. ({{ page.year }}). {{ page.title }}{% if page.booktitle %}. In <i>{{ page.booktitle }}</i>{% endif %}{% if page.type %} ({{ page.type }}){% endif %}{% if page.school %}, {{ page.school }}{% endif %}. {% if page.journal %}In <i>{{ page.journal }}</i>{% if page.volume %}, {{ page.volume }}{% if page.number %}({{ page.number }}){% endif %}{% if page.pages %}, {{ page.pages }}{% endif %}.{% endif %}{% endif %} {% if page.doi %}doi:{{ page.doi }}.{% endif %} {% if page.URL %} Retrieved from {{ page.URL }}{% endif %}                    
                </code>
                </pre>
            </li>
            <li>
                MLA <br>
                <pre>
                <code>
{{ page.author }}. "{{ page.title }}." {% if page.booktitle %}<i>{{ page.booktitle }}</i>, {% endif %}{% if page.type %}{{ page.type }}, {% endif %}{% if page.school %}{{ page.school }}, {% endif %}{% if page.year %}{{ page.year }}.{% endif %} {% if page.journal %}<i>{{ page.journal }}</i>, {% if page.volume %}vol. {{ page.volume }}{% if page.number %}, no. {{ page.number }}{% endif %}{% if page.pages %}, pp. {{ page.pages }}{% endif %}.{% endif %}{% endif %} {% if page.doi %}doi:{{ page.doi }}.{% endif %} {% if page.URL %} Accessed {{ page.access_date }}. {{ page.URL }}.{% endif %}                    
                </code>
                </pre>
            </li>
            <li>
                Chicago <br>
                <pre>
                <code>
{{ page.author }}. "{{ page.title }}." {% if page.booktitle %}<i>{{ page.booktitle }}</i>, {% endif %}{% if page.type %}{{ page.type }}, {% endif %}{% if page.school %}{{ page.school }}, {% endif %}{% if page.year %}{{ page.year }}.{% endif %} {% if page.journal %}In <i>{{ page.journal }}</i>{% if page.volume %}, vol. {{ page.volume }}{% if page.number %}({{ page.number }}){% endif %}{% if page.pages %}: {{ page.pages }}{% endif %}.{% endif %}{% endif %} {% if page.doi %}doi:{{ page.doi }}.{% endif %} {% if page.URL %} Accessed at {{ page.URL }}.{% endif %}                    
                </code>
                </pre>
            </li>
            <li>
                BibTeX <br>
                <pre>
                    <code>
@{{ page.ENTRYTYPE }}&#123;{{ page.ID }},
&#9;author = &#123;{{ page.author }}&#125;,
&#9;title = &#123;{{ page.title }}&#125;,<br>
{%- if page.journal -%}&#9;journal = &#123;{{ page.journal }}&#125;,<br>{%- endif -%}
{%- if page.booktitle -%}&#9;booktitle = &#123;{{ page.booktitle }}&#125;,<br>{%- endif -%}
{%- if page.volume -%}&#9;volume = &#123;{{ page.volume }}&#125;,<br>{%- endif -%}
{%- if page.number -%}&#9;number = &#123;{{ page.number }}&#125;,<br>{%- endif -%}
{%- if page.pages -%}&#9;pages = &#123;{{page.pages }}&#125;,<br>{%- endif -%}
{%- if page.type -%}&#9;type = &#123;{{page.type }}&#125;,<br>{%- endif -%}
{%- if page.school -%}&#9;school = &#123;{{page.school }}&#125;,<br>{%- endif -%}
{%- if page.month -%}&#9;month = &#123;{{ page.month }}&#125;,<br>{%- endif -%}
&#9;year = &#123;{{ page.year }}&#125;,<br>
{%- if page.doi -%}&#9;doi = &#123;{{ page.doi }}&#125;,<br>{%- endif -%}
&#9;abstract = &#123;{{ page.abstract }}&#125;,
&#9;URL = &#123;{{ site.url }}{{ page.url }}&#125;
&#125;
                    </code>
                </pre>
            </li>
        <ul>

		{{ content }}
	</div>
</section>

</div>

    {% include footer.html %}

</body>

</html>
